{% assign settings = site.data.settings %}

<!-- IF SUCCESS -->
<div class="alert alert-success" hidden>
    <h4>Success!</h4>
    <p>Your form has been submitted.</p>
</div>

<!-- IF FAILURE -->
<div class="alert alert-danger alert-dismissible fade in" role="alert" hidden>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4>Oops!</h4>
    <p>Something went wrong. Please check your details.</p>
</div>

<form data-toggle="validator">
    <fieldset>
        <div class="row">
            <div class="col-12">
                <!-- NAME -->
                <div class="form-group">
                    <label for="name"><i class="fa fa-user"></i> Name (required)</label>
                    <input class="form-control" id="name" name="Name" type="text" placeholder="" required>
                    <small class="error">Your name is required.</small>
                </div>
            </div>
            <div class="col-12">
                <!-- EMAIL -->


                <!-- <div class="form-group">
                    <label for="email"><i class="fa fa-envelope"></i> Email (required)</label>
                    <input class="form-control" id="email" name="Email" type="email" placeholder="" required>
                    <small class="error">A valid email is required.</small>
                </div> -->
            </div>
        </div>

        <!-- SUBMIT -->
        <!-- <button type="submit" class="btn btn-primary float-right">Sure, why not.</button> -->

    </fieldset>
</form>

<form class="form-inline">

  <div class="form-group mx-sm-3">
    <label for="inputPassword2" class="sr-only">Password</label>
    <input type="password" class="form-control" id="inputPassword2" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-primary">Confirm identity</button>
</form>