{% assign settings = site.data.settings %}
{% assign logo = "/assets/img/content/logo.svg" %}
{% assign logo_type = "/assets/img/content/logo-type.svg" %}

<div class="container">

    <!-- LOGO -->
    <a class="logo" href="/" title="{{ settings.title_homepage }}" itemprop="url">
        <img class="hidden-md-up" src="{{ logo }}" alt="{{ settings.company }}" itemprop="logo">
        <img class="hidden-sm-down" src="{{ logo_type }}" alt="{{ settings.company }}" itemprop="logo">
        <!-- <span class="text hidden-sm-down">Danny Beaton</span> -->
    </a>

    <!-- HAMBURGER -->
    <div class="global-header-hamburger hidden-lg-up">
        <div class="lv-hamburger" data-menu-toggle>
            <span class="lv-hamburger-top"></span>
            <span class="lv-hamburger-middle"></span>
            <span class="lv-hamburger-bottom"></span>
            <span class="lv-hamburger-hit"></span>
        </div>
    </div>

    <!-- NAVIGATION -->
    <nav class="lv-topbar hidden-md-down">
        {% include snippets/navigation.html %}
    </nav>

</div>