{% comment %}
    LIQUIDVISUAL-HERO

    - updated: 06.03.17
    - notes:
        * Multiple items in carousel_slides.yml triggers carousel mode
        * .has-auto-height - caption will detemine height
        * .has-fixed-height - used for internal pages to set a height
{% endcomment %}

<div class="lv-hero-wrapper">

    <!-- HERO -->
    <div class="lv-hero">

        <!-- HERO ITEM -->
        <div class="lv-hero-item align-items-end">

            <!-- PARALLAX BG -->
            <div class="bg-layers layer" data-depth="0.3">
                <div class="bg-layer-1" style="background-image: url(/assets/img/layout/clouds-layer-1.jpg)"></div>
                <div class="bg-layer-2" style="background-image: url(/assets/img/layout/clouds-layer-2.png)"></div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-md-4 push-md-8 text-center">

                        <!-- HERO CAPTION -->
                        <div class="lv-hero-item-caption">
                            <img width="100%" src="/assets/img/content/hero-mal-text@2x.png" alt="Mal Winter and the Cloud Runners - Available Now">
                            <br>
                            <br>
                            <a class="btn btn-primary hidden-sm-down" href="#moooore"><i class="fa fa-hand-o-right"></i>&nbsp; Learn more</a>
                        </div>

                    </div>
                    <div class="col-md-8 pull-md-4 text-center">

                        <!-- SUPPORTING IMAGE -->
                        <img width="100%" class="lv-hero-character layer" data-depth="0.5" src="/assets/img/content/hero-mal@2x.png" alt="Mal Winter and the Cloud Runners, Pre-order today">

                    </div>
                </div> <!-- /.row -->
            </div> <!-- /.container -->
        </div> <!-- /.lv-hero-item -->
    </div> <!-- /.lv-hero -->
</div> <!-- /.lv-hero-wrapper -->