/*
    VARIABLES.CSS

    - Last updated: 24.04.17
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// GLOBAL VARS (USE PIXELS)
//-----------------------------------------------------------------

$fa-font-path: "/assets/fonts";

//-----------------------------------------------------------------
// HEADER HEIGHT
//-----------------------------------------------------------------

$header-sm-height: 60px;
$header-md-height: 60px;
$header-lg-height: 60px;

//-----------------------------------------------------------------
// HERO HEIGHT
//-----------------------------------------------------------------

$hero-sm-height: auto;
$hero-md-height: rem-calc(560);
$hero-lg-height: rem-calc(620);
$hero-xl-height: rem-calc(620);

//=========================================
//
//=========================================