/*
    FOOTER.CSS

    - Last updated: 25.04.17
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// FOOTER
//-----------------------------------------------------------------

.global-footer {
	position: relative;
	color: $brand-tertiary;
	z-index: 1;

	h1, h2, h3, h4, h5, h6 {
		color: white;
		font-family: "Roboto Slab"; //$font-family-sans-serif;
		font-weight: 400;
	}

	h3 {
		@include media-breakpoint-up(md) {
		    font-size: rem-calc(24);
		}
	}

	a {
		color: $brand-tertiary;
	}
}

//-----------------------------------------------------------------
// FOOTER TOP
//-----------------------------------------------------------------

.global-footer-top {
	padding: $spacer-y * 2 0;
	background: darken($brand-quinary, 15%) url(/assets/img/layout/grain3@2x.png);
	background-size: 100px;

	//=========================================
	// HEADERS
	//=========================================

	h3 i {
		color: rgba(white, 0.3);
		font-size: rem-calc(25);
	}

	//=========================================
	// TYPE
	//=========================================

	p {
		font-size: rem-calc(16);
	}

	//=========================================
	// LISTS
	//=========================================

	ul.list-unstyled li {
		font-size: rem-calc(16);
		border-bottom: 1px solid rgba(black, 0.2);

		a {
			display: block;
			padding: rem-calc(10 0);
		}
	}

	//=========================================
	// NEWSLETTER
	//=========================================

	form {
		.form-group,
		.input-group {
			position: relative;

			i {
				position: absolute;
				top: rem-calc(14);
				left: 15px;
				color: rgba(black, 0.3);
				// line-height: 0;
				font-size: rem-calc(20);
			}
		}

		input {
			padding-left: rem-calc(46);
			background: rgba(darken($brand-quinary, 30%), 0.5);
			border: 0;
		}

		button {
			border-radius: 0 $border-radius $border-radius 0 !important;
			cursor: pointer;
		}

		::-webkit-input-placeholder { color: rgba($brand-quaternary, 0.5); }
		::-moz-placeholder          { color: rgba($brand-quaternary, 0.5); }
		:-ms-input-placeholder      { color: rgba($brand-quaternary, 0.5); }
		:-moz-placeholder           { color: rgba($brand-quaternary, 0.5); }
	}
}

//-----------------------------------------------------------------
// FOOTER BOTTOM
//-----------------------------------------------------------------

.global-footer-bottom {
	position: relative;
	padding: rem-calc(15 0);
	background: darken($brand-quinary, 20%) url(/assets/img/layout/grain3@2x.png);
	background-size: 100px;
	color: $brand-quaternary;

	//=========================================
	// BLEED TO BOTTOM
	//=========================================

	&:after {
		content: "";
		position: fixed;
		left: 0;
		width: 100%;
		height: 100%;
		background: inherit;
	}

	//=========================================
	// ANCHORS
	//=========================================

	a {
		color: $brand-tertiary;

		.text {
			color: white;
		}
	}
}

//-----------------------------------------------------------------
// BACK TO TOP
//-----------------------------------------------------------------

.back-to-top {
	display: none;
	position: absolute;
	top: 5px;
	right: -60px;
	background: #323232;
	width: rem-calc(50);
	height: rem-calc(34);
	line-height: rem-calc(34);
	text-align: center;

	font-size: rem-calc(22);
	border-radius: $border-radius $border-radius 0 0;

	i {
		color: white;
	}
}

//=========================================
//
//=========================================