/*
    FOOTER.CSS

    - Last updated: 00.00.00
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// FOOTER
//-----------------------------------------------------------------

.global-footer {
	position: relative;
	color: $brand-tertiary;
	z-index: 1;

	h1, h2, h3, h4, h5, h6 {
		color: white;
	}

	a {
		color: $brand-tertiary;
	}
}

//-----------------------------------------------------------------
// FOOTER
//-----------------------------------------------------------------

.global-footer-top {
	padding: $spacer-y * 2;
	background: darken($brand-quinary, 15%) url(/assets/img/layout/grain3@2x.png);
	background-size: 100px;

	ul li {
		font-size: rem-calc(16);
		border-bottom: 1px solid rgba(black, 0.2);

		a {
			display: block;
			padding: rem-calc(10 0);
		}
	}
	form {
		input {
			padding-left: 40px;
			background: rgba(darken($brand-quinary, 30%), 0.5);
			background-size: 100px;
			border: 0;
		}
		i {
			position: absolute;
			top: 48px;
			left: 32px;
			color: rgba(black, 0.3);
		}
	}
}

//-----------------------------------------------------------------
// FOOTER
//-----------------------------------------------------------------

.global-footer-bottom {
	position: relative;
	padding: rem-calc(15 0);
	background: darken($brand-quinary, 20%) url(/assets/img/layout/grain3@2x.png);
	background-size: 100px;
	// background: #3c4043;
	color: $brand-quaternary;

	a {
		color: $brand-tertiary;

		.text {
			color: white;
		}
	}
}

//-----------------------------------------------------------------
// BACK TO TOP
//-----------------------------------------------------------------

.back-to-top {
	position: absolute;
	top: 5px;
	right: -60px;
	background: #323232;
	width: rem-calc(50);
	height: rem-calc(34);
	line-height: rem-calc(34);
	text-align: center;

	font-size: rem-calc(22);
	border-radius: $border-radius $border-radius 0 0;

	i {
		color: white;
	}
}

//=========================================
//
//=========================================