/*
    TOPBAR.CSS

    - Last updated: 25.02.17
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// TOPBAR
//-----------------------------------------------------------------

.lv-topbar {
    display: flex;
    align-items: center;
    margin-left: auto;
    // border-top: 3px solid $brand-tertiary;
    // box-shadow: 0 1px 5px 0px rgba(black, 0.5);
    box-shadow: 0 0 0px 4px rgba(black, 0.2);
    border-radius: $border-radius;
    background: $brand-quaternary;
}

//-----------------------------------------------------------------
// GENERAL UL
//-----------------------------------------------------------------

.lv-topbar ul {
    padding: 0; // reset
    margin: 0; // reset
    list-style: none; // reset
    font-family: "Roboto Slab"; //$font-family-sans-serif;
    font-size: rem-calc(16);
    font-weight: 600;
}

//=========================================
// TOP PARENT UL
//=========================================

.lv-topbar > ul {
    display: flex;

    > li {
        position: relative; // [LOCKED]
        margin: 0; // reset
    }

    > li:first-child .top-parent-anchor {
        border-radius: $border-radius 0 0 $border-radius;
    }

    > li:last-child .top-parent-anchor {
        border-radius: 0 $border-radius $border-radius 0;
    }
}

//-----------------------------------------------------------------
// ALL ANCHORS (INCL. DROPDOWN CHILDREN)
//-----------------------------------------------------------------

.lv-topbar a {
    display: block; // [LOCKED]
    padding: rem-calc(15);
    color: $body-color;
    transition: background-color 200ms ease;
}

//-----------------------------------------------------------------
// TOP PARENT ANCHORS (VISIBLE)
//-----------------------------------------------------------------

.lv-topbar .top-parent-anchor {
    display: block; // [LOCKED]
    padding: rem-calc(0 15);
    line-height: $header-sm-height; // secret sauce
    color: #222;
    cursor: pointer;
    transition: background-color 200ms ease;

    i {
        position: relative;
        top: 3px;
        margin-right: 5px;
        font-size: rem-calc(20);
        color: darken($brand-tertiary, 30%);
        line-height: 0;
        transition: color ease 300ms;
    }

    &:hover {
        background-color: $brand-tertiary;
        color: #222;

        i {
            color: #222;
        }
    }
}

//=========================================
// ACTIVE TOP PARENT ANCHOR (OPTIONAL)
//=========================================

.lv-topbar .active .top-parent-anchor .text {
    position: relative;
    // border-bottom: 3px solid #222;
    // padding-bottom: 2px;

    &:after {
        content: "";
        position: absolute;
        bottom: -8px;
        left: calc(50% - 5px/2);
        width: 5px;
        height: 5px;
        border-radius: 100%;
        background: #222;
    }
}

//-----------------------------------------------------------------
// DROPDOWN ANCHORS
//-----------------------------------------------------------------

.lv-topbar .has-dropdown:hover > .top-parent-anchor {
    background-color: $brand-tertiary;
}

.lv-topbar .has-dropdown:hover > .top-parent-anchor > i {
    color: #222;
}

.lv-topbar .active.has-dropdown:hover > .top-parent-anchor .text {
    // border: 0;
}

// UX decision, dropdowns are fiddly on tablets
.lv-topbar .has-dropdown:hover > .dropdown {
    @include media-breakpoint-up(xl) {
        opacity: 1;
        height: auto;
        overflow: visible;
        visibility: visible;
    }
}

//=========================================
// ACTIVE STATE (OPTIONAL)
//=========================================

// .lv-topbar .has-dropdown.active:hover > .top-parent-anchor {
//     background: $top-parent-anchor-bg-color;
// }

//=========================================
// THIRD LEVEL
//=========================================

.lv-topbar .dropdown .has-dropdown:hover > .dropdown {
    @include media-breakpoint-up(xl) {
        opacity: 1;
        height: auto;
        visibility: visible;
    }
}

//-----------------------------------------------------------------
// DROPDOWNS
//-----------------------------------------------------------------

.lv-topbar .dropdown {
    display: none; // OPT IN DESIGN
    position: absolute;
    top: auto;
    left: 0;
    width: rem-calc(240);
    height: 0; // so hit areas aren't triggered
    overflow: hidden; // so hit areas aren't triggered
    background: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    opacity: 0;
    visibility: hidden;
    transition: opacity 200ms ease, visibility 200ms ease;
}

// Prevent far-right dropdown from exceeding page width
.lv-topbar .has-dropdown-right-aligned .dropdown {
    right: 0;
    left: auto;
}

.lv-topbar .dropdown.is-nav-included {
    display: block;
}

//=========================================
// THIRD LEVEL
//=========================================

.lv-topbar .dropdown .dropdown {
    position: absolute;
    top: 0;
    left: 100%;
}

// Prevent far-right 'nested' dropdown from exceeding page width
.lv-topbar .has-dropdown-right-aligned .dropdown .dropdown {
    left: -100%;
}
//=========================================
// DROPDOWN LIST + ANCHORS
//=========================================

.lv-topbar .dropdown li a {
    transition: none; // UX decision
    font-size: rem-calc(13); // opinionated
    color: $body-color;
    // padding: rem-calc(15 15);
}
//=========================================
// DROPDOWN ANCHOR BORDERS
//=========================================

.lv-topbar .dropdown a {
    border-bottom: 1px solid rgba(black, 0.1);
}

.lv-topbar .dropdown li:last-child a {
    border-bottom: 0;
}
//=========================================
// DROPDOWN ANCHOR HOVERS
//=========================================

.lv-topbar .dropdown a:hover {
    background-color: rgba(black, 0.1);
    border-color: transparent;
}
//=========================================
//
//=========================================