/*
    FORMS.CSS

    - Last updated: 28.04.17
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// FORMS
//-----------------------------------------------------------------

input[type="text"],
input[type="email"],
input[type="phone"],
input[type="password"],
textarea {
	-webkit-appearance: none; // removes shadow on iOS
}

//-----------------------------------------------------------------
// BOOTSTRAP VALIDATION
// http://1000hz.github.io/bootstrap-validator/#validator-events
//-----------------------------------------------------------------

form[data-toggle="validator"] .error {
	display: none;
	// width: 100%;
	padding: rem-calc(5 10);
	border-radius: 3px;
	background: $brand-danger;
	color: white;
}

form[data-toggle="validator"] .disabled {
	opacity: 1; // decision


	&:focus {
		color: white !important;
	}
}

form[data-toggle="validator"] .has-error .form-control,
form[data-toggle="validator"] .has-error.input-group {
	margin-bottom: rem-calc(10);
}

form[data-toggle="validator"] .has-error.input-group .form-control {
	margin-bottom: 0;
}

// form[data-toggle="validator"] .has-error > .form-control:not(.input-group.form-control) {
// 	border-bottom-left-radius: 0;
// 	border-bottom-right-radius: 0;
// }

form[data-toggle="validator"] .has-error > .error,
form[data-toggle="validator"] .has-error + .error {
	// display: block;
	display: inline-block;
}

//-----------------------------------------------------------------
//
//-----------------------------------------------------------------
//=========================================
//
//=========================================