/*
    HERO.CSS

    - Last updated: 06.03.17
    - liquidvisual.com
    - notes:
        * liquidvisual recommends bxSlider for hero carousels
        * fixed overflow problem when removing JS
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------

$cloud-speed:              10 !default;

$hero-sm-height:           auto          !default; // default: auto // IMPORTANT: if carousel slides, you need a fixed height
$hero-md-height:           rem-calc(575) !default;
$hero-lg-height:           rem-calc(600) !default;
$hero-xl-height:           rem-calc(600) !default;

$hero-sm-height-preset-1:  auto          !default;
$hero-md-height-preset-1:  rem-calc(400) !default;
$hero-lg-height-preset-1:  rem-calc(400) !default;

//-----------------------------------------------------------------
// HERO WRAPPER
//-----------------------------------------------------------------

.lv-hero-wrapper {
    position: relative;
    overflow: hidden; // savior

    @include media-breakpoint-up(md) {
        position: fixed;
        top: 0;
        width: 100%;
    }
}

//-----------------------------------------------------------------
// HERO
//-----------------------------------------------------------------

.lv-hero {
    // width: 100%; // added last minute - breaking?
    height: $hero-sm-height;
    overflow: hidden; // causes problems without JS

    @include media-breakpoint-up(md) {
        height: $hero-md-height;
    }

    @include media-breakpoint-up(lg) {
        height: $hero-lg-height;
    }

    @include media-breakpoint-up(xl) {
        height: $hero-xl-height;
    }

    //=========================================
    // HAS HEIGHT PRESET 1
    //=========================================

    // &.has-height-preset-1 {
    //     height: $hero-sm-height-preset-1;

    //     @include media-breakpoint-up(md) {
    //         height: $hero-md-height-preset-1;
    //     }

    //     @include media-breakpoint-up(lg) {
    //         height: $hero-lg-height-preset-1;
    //     }
    // }
}

//-----------------------------------------------------------------
// HERO ITEM (SLIDES)
//-----------------------------------------------------------------

.lv-hero-item {
    display: flex;
    align-items: flex-end;
    // float: left;
    width: 100%; // need
    height: 100%;
    background-color: $brand-primary;
    background-repeat: no-repeat; // incase future BG image
    background-position: center center;
    background-size: cover;

    .lv-hero-caption {
        margin-top: rem-calc(80);
        color: white;
        font-size: rem-calc(80);
        // text-shadow: 0px 2px 2px rgba(black, 0.3);

        background: rgba(black, 0.4);
        display: inline-block;
        padding: 30px 30px 10px 30px;
        // border-radius: 10px;
        // color: $brand-primary;
        box-shadow: 0 3px 10px rgba(black, 0.1);

        h1 {
            font-size: rem-calc(80);
            // text-shadow: 0px 2px 2px rgba(black, 0.3);

            background: rgba(black, 0.4);
            display: inline-block;
            padding: 30px 30px 10px 30px;
            // border-radius: 10px;
            // color: $brand-primary;
            box-shadow: 0 3px 10px rgba(black, 0.1);
        }

    }

    img {
        // border: 1px solid black; // remove
    }

    @include media-breakpoint-down(sm) {
        padding-top: $header-sm-height + 40px;
    }
}

//=========================================
//
//=========================================

.lv-hero-item > .container {
    // position: relative;

    @include media-breakpoint-up(md) {
        // left: -30px;
    }

    @include media-breakpoint-up(lg) {
        // left: -80px;
    }

    .lv-hero-character {
        @include media-breakpoint-up(lg) {
            width: 79%;
            // width: 90%;
        }
    }
}

//=========================================
// <h1>
//=========================================

// .lv-hero-item-caption {
//     // position: relative;

//     @include media-breakpoint-down(sm) {
//         // padding: rem-calc(0 20 0 20);
//     }

//     @include media-breakpoint-up(md) {
//         // top: 40px;
//     }

//     @include media-breakpoint-up(xl) {
//         // top: 60px;
//     }
// }

//-----------------------------------------------------------------
// CLOUDS SCROLLING ANIMATION
//-----------------------------------------------------------------

@keyframes hero-layer-1-scroller {
    from { transform: translateX(0); }
    to   { transform: translateX(-100%); }
}

@keyframes hero-layer-2-scroller {
    from { transform: translateX(0); }
    to   { transform: translateX(-100%); }
}

//-----------------------------------------------------------------
// BG LAYERS
//-----------------------------------------------------------------

.bg-layers {
    height: 100%;

    .bg-layer-1,
    .bg-layer-2 {
        position: absolute;
        top: 0; // 10px
        left: 0;
        width: 2820px * $cloud-speed;
        height: 100%;
        background-size: 2820px; // [LOCKED]
        background-repeat: repeat-x;
        background-position: bottom;
        animation: hero-layer-1-scroller #{300*$cloud-speed}s linear infinite;
    }

    .bg-layer-2 {
        animation: hero-layer-2-scroller #{300*$cloud-speed/2}s linear infinite;
    }
}

//=========================================
// EDGE AND IE11 ARE USELESS
//=========================================

@supports (-ms-ime-align:auto) {
    .bg-layer-1,
    .bg-layer-2 {
        animation: none !important;
    }
}

@media all and (-ms-high-contrast:none) {
    .bg-layer-1,
    .bg-layer-2 {
        animation: none !important;
    }
}

//-----------------------------------------------------------------
//
//-----------------------------------------------------------------