/*
    HERO.CSS

    - Last updated: 01.04.17
    - liquidvisual.com
    - notes:
        * liquidvisual recommends bxSlider for hero carousels
        * fixed overflow problem when removing JS
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------

$cloud-speed:              10 !default;

$hero-sm-height:           auto          !default; // default: auto // IMPORTANT: if carousel slides, you need a fixed height
$hero-md-height:           rem-calc(575) !default;
$hero-lg-height:           rem-calc(600) !default;
$hero-xl-height:           rem-calc(600) !default;

//-----------------------------------------------------------------
// HERO WRAPPER
//-----------------------------------------------------------------

.lv-hero-wrapper {
    position: relative;
    overflow: hidden; // savior

    @include media-breakpoint-up(md) {
        position: fixed;
        top: 0;
        width: 100%;
    }
}

//-----------------------------------------------------------------
// HERO
//-----------------------------------------------------------------

.lv-hero {
    // width: 100%; // added last minute - breaking?
    height: $hero-sm-height;
    overflow: hidden; // causes problems without JS

    @include media-breakpoint-up(md) {
        height: $hero-md-height;
    }

    @include media-breakpoint-up(lg) {
        height: $hero-lg-height;
    }

    @include media-breakpoint-up(xl) {
        height: $hero-xl-height;
    }
}

//-----------------------------------------------------------------
// HERO ITEM (SLIDES)
//-----------------------------------------------------------------

.lv-hero-item {
    display: flex;
    align-items: flex-end;
    // float: left;
    width: 100%; // need
    height: 100%;
    background-color: $brand-primary;
    background-repeat: no-repeat; // incase future BG image
    background-position: center center;
    background-size: cover;

    @include media-breakpoint-down(sm) {
        padding-top: $header-sm-height + 40px; // [LOCKED]
    }

    img {
        // border: 1px solid black; // remove
    }
}

//-----------------------------------------------------------------
// HERO ITEM CONTAINER
//-----------------------------------------------------------------

.lv-hero-item > .container {
    // position: relative;

    @include media-breakpoint-up(md) {
        // left: -30px;
    }

    @include media-breakpoint-up(lg) {
        // left: -80px;
    }

    .lv-hero-character {
        @include media-breakpoint-up(lg) {
            width: 79%;
            width: 90%;
        }
    }
}

.is-reversed .lv-hero-item .lv-hero-character {
    @include media-breakpoint-up(lg) {
        width: 90%;
        // width: 90%;
    }
}

//-----------------------------------------------------------------
// HERO ITEM CAPTION
//-----------------------------------------------------------------

.lv-hero-item-caption {
    position: relative;
    display: inline-block;

    @include media-breakpoint-down(sm) {
        // padding: rem-calc(0 20 0 20);
    }

    @include media-breakpoint-up(md) {
        // top: 40px;
    }

    @include media-breakpoint-up(xl) {
        // top: -25px; //-$header-sm-height; // [LOCKED]
        // left: 200px;
        padding-bottom: $header-sm-height * 2;
        // padding-bottom: 80px;
    }

    //=========================================
    // 'BLOG ARTICLE' frill
    //=========================================

    .header-type {
        display: inline-block;
        padding: 5px 10px;
        border-top: 4px solid $brand-quaternary;
        font-family: 'Roboto Slab';
        font-size: rem-calc(16);
        font-weight: normal;
        color: darken($brand-primary, 30%); //white;
        text-transform: uppercase;
        background: rgba(white, 0.5);
    }

    //=========================================
    // CAPTION HEADER
    //=========================================

    h1, .h1 {
        display: inline-block;
        font-family: 'Roboto Slab';
        // font-family: 'Century Gothic';
        // font-weight: bold;
        font-size: rem-calc(75);
        // font-weight: 700;
        font-weight: 700;
        color: white;

        // https://css-tricks.com/adding-stroke-to-web-text/
        // -webkit-text-stroke: 1px rgba(darken($brand-quinary, 10%), 0.8);
        text-shadow: 0px 2px 2px rgba(black, 0.5);
        // text-shadow: 1px 3px 1px darken($brand-quinary, 10%);
    }

    //=========================================
    // DATE
    //=========================================

    .date {
        font-family: 'Roboto Slab';
        color: white;
        font-size: rem-calc(18);

        a {
            color: $brand-tertiary;
        }
    }
}

//-----------------------------------------------------------------
// CLOUDS SCROLLING ANIMATION
//-----------------------------------------------------------------

@keyframes hero-layer-1-scroller {
    from { transform: translateX(0); }
    to   { transform: translateX(-100%); }
}

@keyframes hero-layer-2-scroller {
    from { transform: translateX(0); }
    to   { transform: translateX(-100%); }
}

//-----------------------------------------------------------------
// BG LAYERS
//-----------------------------------------------------------------

.bg-layers {
    height: 100%;

    .bg-layer-1,
    .bg-layer-2 {
        position: absolute;
        top: 0; // 10px
        left: 0;
        width: 2820px * $cloud-speed;
        height: 100%;
        background-size: 2820px; // [LOCKED]
        background-repeat: repeat-x;
        background-position: bottom;
        animation: hero-layer-1-scroller #{300*$cloud-speed}s linear infinite;
    }

    .bg-layer-2 {
        animation: hero-layer-2-scroller #{300*$cloud-speed/2}s linear infinite;
    }
}

.is-dark .bg-layers {
    opacity: 0.2;
    // display: none;
}

.is-dark .lv-hero-item {
    // background-color: teal;
}

//=========================================
// EDGE AND IE11 ARE USELESS
//=========================================

@supports (-ms-ime-align:auto) {
    .bg-layer-1,
    .bg-layer-2 {
        animation: none !important;
    }
}

@media all and (-ms-high-contrast:none) {
    .bg-layer-1,
    .bg-layer-2 {
        animation: none !important;
    }
}

//-----------------------------------------------------------------
//
//-----------------------------------------------------------------