/*
    SIDEBAR.CSS

    - Last updated: 03.05.17
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------
//--------------------------------------------------------------------
// SIDEBAR
//--------------------------------------------------------------------

.sidebar-box {
	padding: $spacer*1.5;
	background: white;
	box-shadow: 2px 3.464px 8px 0 rgba(39, 44, 49, 0.12), 8px 13.856px 38px 0 rgba(39, 44, 49, 0.08);

	p, ul, ol {
		font-size: rem-calc(16);
	}

}

//=========================================
//
//=========================================