/*
    TYPE.CSS

    - Last updated: 24.04.17
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------
//--------------------------------------------------------------------
// TYPE
//--------------------------------------------------------------------

html {
  @include media-breakpoint-up(xs) { font-size: rem-calc(14); }
  @include media-breakpoint-up(md) { font-size: rem-calc(14); }
  @include media-breakpoint-up(lg) { font-size: rem-calc(14); }
  @include media-breakpoint-up(xl) { font-size: rem-calc(16); }
}

//-----------------------------------------------------------------
// ANCHORS
//-----------------------------------------------------------------

a {
	transition: color ease 300ms, background-color ease 300ms;
}

//-----------------------------------------------------------------
// PARAGRAPHS
//-----------------------------------------------------------------

p, ul, ol {
	font-size: rem-calc(22);
}

//-----------------------------------------------------------------
// HEADERS
//-----------------------------------------------------------------

.subheader {
	font-weight: 100;
	color: #6f6f6f;
}

//-----------------------------------------------------------------
// BLOCKQUOTES
//-----------------------------------------------------------------

blockquote {
	font-family: "Coming Soon", cursive;

	cite {
		font-size: rem-calc(15);

		&::before {
			content: "\2014 \0020";
		}
	}
}

//-----------------------------------------------------------------
// SPACER
//-----------------------------------------------------------------

.spacer {
	width: 1px;
	height: 1px;
}

//=========================================
//
//=========================================