---
layout: base
---

{% assign hero = page.hero | default: "/assets/img/content/hero-1.png" %}
{% assign hero_image = page.hero_image %}
{% assign hero_image_caption = page.hero_image_caption %}
{% assign hero_image_caption_title = page.hero_image_caption_title %}
{% assign countdown = page.countdown %}

<div class="lv-hero-wrapper">

    <!-- HERO -->
    <div class="lv-hero">

        <!-- HERO ITEM -->
        <div class="lv-hero-item">

            <!-- PARALLAX BG -->
            <div class="bg-layers">
                <div class="bg-layer-1" style="background-image: url(/assets/img/layout/clouds-layer-1.jpg)"></div>
                <div class="bg-layer-2" style="background-image: url(/assets/img/layout/clouds-layer-2.png)"></div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-md-5 push-md-7 d-flex align-items-center">

                        <!-- HERO CAPTION -->
                        <div class="lv-hero-item-caption fill-2X">
                            {% if hero_image_caption %}

                                <!-- IMAGE -->
                                <p class="mb-4">
                                    <img width="100%" src="{{ hero_image_caption }}" alt="{{ hero_image_caption_title }}">
                                </p>

                                <!-- COUNTDOWN -->
                                {% if countdown %}
                                    <div id="last-titan-preorder-countdown"></div>
                                {% endif %}

                            {% else %}

                                <!-- TITLE -->
                                <h1 class="fill-3X">{{ page.title }}</h1>

                            {% endif %}
                        </div>

                    </div>
                    <div class="col-md-7 pull-md-5 text-center">

                        <!-- SUPPORTING IMAGE -->
                        <img width="100%" class="lv-hero-character" src="{{ page.hero_image }}" alt="Book Character">

                    </div>
                </div> <!-- /.row -->
            </div> <!-- /.container -->
        </div> <!-- /.lv-hero-item -->
    </div> <!-- /.lv-hero -->
</div> <!-- /.lv-hero-wrapper -->

<!-- CONTENT -->
<main class="page-content-container">
    <div class="container">
        <div class="page-content">
            {% include snippets/breadcrumb.html %}
            {{ content }}
        </div>
    </div>
</main>