---
layout: base
---

{% assign hero = page.hero | default: "/assets/img/content/hero-1.png" %}

<div class="lv-hero-wrapper">

    <!-- HERO -->
    <div class="lv-hero has-height-preset-1X is-dark">

        <!-- HERO ITEM -->
        <div class="lv-hero-item d-flex align-items-end">

            <!-- PARALLAX BG -->
            <div class="bg-layers">
                <div class="bg-layer-1" style="background-image: url(/assets/img/layout/clouds-layer-1.jpg)"></div>
                <div class="bg-layer-2" style="background-image: url(/assets/img/layout/clouds-layer-2.png)"></div>
            </div>

            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-11 text-center">

                        <!-- HERO CAPTION -->
                        <div class="lv-hero-item-caption">
                            <h4 class="header-type">Blog Article</h4><br>
                            <h1 class="mb-0">{{ page.title }}</h1>
                            <date><i class="fa fa-calendar"></i>&nbsp; written {{ page.date | date: '%B %d, %Y' }}</date>
                        </div>

                    </div>
                </div>
            </div>

        </div> <!-- /.lv-hero-item -->
    </div> <!-- /.lv-hero -->
</div> <!-- /.lv-hero-wrapper -->

<!-- CONTENT -->
<main class="page-content-container">
    <div class="container">
        <div class="page-content">
            {% include snippets/breadcrumb.html %}
            {{ content }}
        </div>
    </div>
</main>