---
layout: base__page
---

{% assign blog_posts = site.posts %}

<section class="section">
	<div class="container">
		<div class="row justify-content-md-center">
			<div class="col-md-11">

				<div class="row no-gutters">
					<div class="col-8 d-flexXXXXXXXXXX">

						{% for item in blog_posts | limit: 1 %}

							<!-- CARD FEATURE -->
							<div class="card-feature">
								<span class="card-bg" style="background-image: url(/assets/img/content/300.jpeg);"></span>
								<img width="100%" src="/assets/img/content/300.jpeg" alt="Placeholder">
								<div class="card-feature-body">
									<span class="category">{{ item.categories }}</span>
									<h2 class="mb-0">{{ item.title }}</h2>
									Posted <date>{{ item.date | date: "%d %B %Y" }}</date>
								</div>
							</div>

						{% endfor %}

					</div>
					<div class="col-4 d-flex">

						<!-- SUBSCRIBE BOX -->
						<div class="sidebar-box">
							<h3>Become a Subscriber</h3>
							<p>Receive Danny's newsletter to stay on top of the latest posts.</p>
							{% include form_subscribe_box.html %}
						</div>

					</div>
				</div>

				<div class="spacer mb-2"></div>

				<!-- MORE -->
				<ul class="block-grid-xs-1 block-grid-md-2 block-grid-lg-3 block-grid-condensed">

					<!-- SECOND POST -->
					{% for item in blog_posts | offset: 1 | limit: 1 %}
						<li>
							<a href="{{ item.url }}">
								<div class="card-tile">
									<span class="card-bg" style="background-image: url(/assets/img/content/placeholder.jpeg);"></span>
									<img width="100%" src="/assets/img/content/placeholder.jpeg" alt="...">
									<div class="card-tile-body">
										<span class="category">{{ item.categories }}</span>
										<br>
										<h2 class="mb-0">{{ item.title }}</h2>
										<date>{{ item.date | date: "%d %B %Y" }}</date>
									</div>
								</div>
							</a>
						</li>
					{% endfor %}

					<!-- TWITTER POST -->
					<li>
						{% include latest_tweet.html %}
					</li>

					<!-- SECOND POST -->
					{% for item in blog_posts | offset: 3 | limit: 3 %}
						<li>
							<a href="{{ item.url }}">
								<div class="card-tile">
									<span class="card-bg" style="background-image: url(/assets/img/content/placeholder.jpeg);"></span>
									<img width="100%" src="/assets/img/content/placeholder.jpeg" alt="...">
									<div class="card-tile-body">
										<span class="category">{{ item.categories }}</span>
										<br>
										<h2 class="mb-0">{{ item.title }}</h2>
										<date>{{ item.date | date: "%d %B %Y" }}</date>
									</div>
								</div>
							</a>
						</li>
					{% endfor %}

					<!-- VIEW MORE POSTS -->
					<li>
						<a href="{{ item.url }}">
							<div class="card-tile is-read-more">
								<span class="card-bg"></span>
								<img width="100%" src="http://lorempixel.com/320/320?{{forloop.index}}" alt="...">
								<div class="card-tile-body">
									<h3>View More Posts <i class="fa fa-angle-right"></i></h3>
								</div>
							</div>
						</a>
					</li>

				</ul>
			</div>
		</div>
	</div>
</section>