---
layout: base__page
---

<!-- FEATURED BOOK -->
<section class="section section-book-feature section-bleed">
	<div class="container">
		<div class="row">
			<div class="col-md-8">

				<!-- MAL WINTER AND THE CLOUD RUNNERS -->
				<h2>Mal Winter and the Cloud Runners</h2>
				<h3>Now Available for Purchase</h3>
				<p>After several years of hard work and imagination - Danny has written his first novel; the first in a planned series of children's books that will take readers to another world. It's a lively coming-of-age tale that deals with a young boy's struggle to become a hero.</p>

				<!-- ACTION BUTTONS -->
				<p class="mb-4">
					<a class="btn btn-primary mb-3" href="/store/"><i class="fa fa-shopping-cart"></i>&nbsp; Purchase now</a> &nbsp;&nbsp;
					<a class="btn btn-secondary mb-3" href="#newsletter-modal"><i class="fa fa-download"></i>&nbsp; Read free chapter</a>
				</p>

			</div>
			<div class="col-md-4 ">

				<!-- GIANT BOOK -->
				<span class="book">
					<img width="100%" src="/assets/img/content/book-1.png" alt="Mal Winter and the Cloud Runners">
					<a href="/store/" class="btn-price-sticker"><span class="dollar-sign">$</span>3</a>
				</span>

			</div>
		</div>
	</div>
</section>