---
layout: base__page
---

<!-- MAIN CLAIM -->
<section class="section">
	<div class="container">
		<div class="row justify-content-md-center">
			<div class="col-md-9 text-center">

				<!-- HEADLINE -->
				<h1>A Force to be Reckoned With</h1>
				<p class="lead">"The night he watched his father die, Mal learned of the dark creatures who lurk in dreams, hungry for sleeping souls. Mal Winter, a young would-be hero, must traverse the dreamscape to learn the legacy of the Cloud Runners. He'll need to fight his greatest demons to save his family and friends from the unimaginable."</p>

			</div>
		</div>
	</div>
</section>

<!-- FEATURED BOOK -->
<section class="section section-book-feature section-bleed">
	<div class="container">
		<div class="row">
			<div class="col-md-8">

				<!-- MAL WINTER AND THE LAST TITAN -->
				<h2>Mal Winter and the Last Titan</h2>
				<h3>Pre-order Soon</h3>
				<p>After several years of hard work and imagination - Danny has written his first novel; the first in a planned series of children's books that will take readers to another world. It's a lively coming-of-age tale that deals with a young boy's struggle to become a hero.</p>

				<!-- ACTION BUTTONS -->
				<p class="mb-4">
					<a class="btn btn-primary mb-3" href="/store/"><i class="fa fa-shopping-cart"></i>&nbsp; Purchase now</a> &nbsp;&nbsp;
					<a class="btn btn-secondary mb-3" href="#newsletter-modal"><i class="fa fa-download"></i>&nbsp; Read free chapter</a>
				</p>

			</div>
			<div class="col-md-4">

				<!-- GIANT BOOK -->
				<span class="book has-parallax">
					<img class="bg layer" data-depth="0.8" width="100%" src="/assets/img/content/books/book-last-titan-bg@2x.png" alt="Mal Winter and the Last Titan">
					<img class="fg layer" data-depth="1.0" width="100%" src="/assets/img/content/books/book-last-titan-fg@2x.png" alt="Mal Winter and the Last Titan">
					<a href="/store/" class="btn-price-sticker layer" data-depth="1.4"><span class="dollar-sign">$</span>14</a>
					<span class="book-shadow layer" data-depth="0.5"></span>
				</span>

			</div>
		</div>
	</div>
</section>