/*
    SPECIAL.CSS

    - Last updated: 00.00.00
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// SPECIAL
//-----------------------------------------------------------------

.sidebar {
	position: absolute;
	// top: -60px;
	top: -110px;
	right: -15px;
	height: 200%;
	background: rgba(#edd1b7, 0.6);
	padding: rem-calc(60);
	border-top: 50px solid rgba(#edd1b7, 0.5);

}

//=========================================
//
//=========================================